@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Mukta:200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
/*------------------------------------------------------------Colors-----*/

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;

    display: flex;
    justify-content: center;
    flex-flow: column;
}

/*------------------------------------------------------------Colors-----*/

.bg-color-name-title {
    background-color: rgba(255, 165, 0, 0.9);
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.nav--home {
    background-color: rgba(255, 165, 0, 0.9);
}

.nav--history {
    background-color: rgba(1, 121, 14, 0.9);
}

.nav--contact {
    background-color: rgba(238, 8, 8, 0.94);
}

.nav--cv {
    background-color: #4a4a4a;
}

.nav--home span {
    color: #fff;
}

.nav--history span {
    color: #fff;
}

.nav--contact span {
    color: #fff;
}

.nav--cv span {
    color: #fff;
}

.fa-home {
    color: #fafafa;
}

.fa-graduation-cap {
    color: #fafafa;
}

.fa-comment-dots {
    color: #fafafa;
}

.fa-cloud-download-alt {
    color: #fafafa;
}

.fa-facebook {
    color: #fafafa;
}

.fa-twitter {
    color: #fafafa;
}

.fa-linkedin {
    color: #fafafa;
}

.fa-pinterest {
    color: #fafafa;
}

.fa-instagram {
    color: #fafafa;
}

.fa-youtube {
    color: #fafafa;
}


/*------------------------------------Special padding margin text etc...-----------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    text-align: center;
    font-size: 16px;
}
.sectio-heading{
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*--------------------------------------- Hover.css ---------------*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------Heading-----*/

header {
    margin: 0;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row;
}

.column--30 {

    width: 30%;
    height: 400px;
    background-color: transparent;
}

.column--70 {
    position: relative;
    padding: 0;
    margin: 0;
    width: 70%;
    max-height: 400px;
    background-color: transparent;

}

.container {
    padding: 0;
    margin: 0;

}

.heading {
    width: 100%;
    height: 100%;
    margin-right: 25px;
}

.navbar-row {
    height: 100px;

    background-color: transparent;
    display: flex;
    justify-content: center;

}

a .navlinkitem {
    display: flex;
}

.navlink {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    border: none;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navlink2 {
    padding: 10px, 0, 0, 0;
    margin: 0;
    height: 50px;
    width: 50px;
    border: none;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navlinkitem {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300i;
    justify-content: center;
}

#nav--link {
    display: flex;
    flex-direction: column;
}


.list-inline {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.name {
    font-family: 'Exo', sans-serif;
    font-size: 46px;
    font-weight: 200i;
    margin-top: 50px;
    text-align: right;
    color: #fff;

}

.title {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
    color: #fff;

}

.logocontainer {}


.logo {
    background-image: url("../images/profileimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.mainbody {
    position: relative;
    top: 100px;
    left: 0px;
    padding: 0;
    margin: 0;

}

/*------------------------------------mainbody-----------*/

.container-mainbody {
    position: relative;
    top: 100px;
}

.section-column {
    padding: 0 30px 30px;
    display: display: table-cell;
    float: none; 
}
.row-table{
    display: table;
}

/*------------------------------------footer-----------*/

footer {
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 0px;
    width: 100%;
    min-height: 100px;
    background-color: #525252;
}

div.footer {
    margin: 0;
    padding: 20px;
    width: 100%;
    /*background-color: rgba(10, 10, 10, .5);*/
    display: flex;
    flex-flow: row;
}

.column--33 {
    position: relative;
    width: 33.33%;
    min-height: 120px;
    background-color: transparent;
}

.footer-fontawesome-sizing {
    font-size: 15px;
}

.footer-info {
    padding: 5px;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: 100;
    color: #fafafa;
    text-align: center;
    font-size: 10px;
}

footer .cv-pdf i {
    font-size: 13px;
}

footer .cv-pdf i:hover {
    color: #ed4610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

li.navlink2 a {
    text-decoration: none;
}

li.navlink2 a i {
    padding: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.navlink2 a i:hover {
    background-color: #ed4610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

ul.list-inline.social-links {
    width: 110px;
}

/*----------- media queries--*/

@media only screen and (max-width: 995px) {
    ul.list-inline.social-links{
        padding:0;
        width: 60px;
        height: 100px;
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
}
}

@media only screen and (max-width: 768px) {

    div.row {
        margin: 0 0 100px 0;
        height: 200px;

    }
    div.navbar-row {
        transform: translatey(-100px);
    }
    .column--30 {
        width: 30%;
        height: 300px;
    }
    .column--70 {
        min-height: 300px;
    }
    div.logo {
        min-height: 300px;
    }
    .navlink {
        width: 100%;
    }
    header .list-inline {
        padding: 0;
        margin: 0;
        height: 100px;
        flex-direction: column;
    }

    h1.name {
        font-size: 35px;
        flex-wrap: nowrap;
    }
    h2.title {
        font-size: 20px;
        flex-wrap: nowrap;
    }
    #nav--link {
        display: inline;
    }
    .container-mainbody {
        position: relative;
        top: 0px;
    }
    footer {
        position: relative;
        bottom: 50px;
    }
    .navlink2 {
        margin: 2px;
        height: 30px;
    }
    li.navlink2 a i {
        padding: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #8f8f8f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-fontawesome-sizing {
        font-size: 10px;
    }
    ul.list-inline.social-links {
        width: 60px;
        height: 75px;
        flex-wrap: nowrap;
        flex-direction: column;
}
}

@media only screen and (max-width: 378px) {
    .column--30 {
        width: 30%;
        height: 200px;
    }
    div.column--70 {
        min-height: 200px;
    }
    div.container {
        max-height: 200px;

    }
    div.logo {
        min-height: 130px;
    }

    div.navbar-row {
        width: 146.88px;
        position: relative;
        top: -70px;
        left: -49.5%;
    }
    header .list-inline {
        width: 112.55px;
        height: 70px;
    }
    .navlink {
        width: 113.55px;
    }
    .navlinkitem {
        font-size: smaller;
    }
    .heading {
        flex-wrap: nowrap;

    }
    h1.name {
        font-size: 25px;
        flex-wrap: nowrap;
    }
    h2.title {
        font-size: 16px;
        flex-wrap: nowrap;
    }
    .container-mainbody {
        position: relative;
        top: -100px;
    }
    footer {
        position: relative;
        bottom: 170px;
    }
    ul.list-inline.social-links {
        width: 30px;
        height: 46px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    li.navlink2 a i {
        padding: 0;
        height: 10px;
        width: 10px;
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .general-sub{
        font-size: 10px;
    }
    .footer-info {
    font-size: 5px;
}
}
