@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Mukta:200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
/*------------------------------------------------------------Colors-----*/

.bg-color-name-title {
    background-color: orange;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;

    display: flex;
    justify-content: center;
    flex-flow: column;
}

/*------------------------------------------------------------Colors-----*/

.bg-color-name-title {
    background-color: rgba(255, 165, 0, 0.9);
}

.nav--home {
    background-color: rgba(255, 165, 0, 0.9);
}

.nav--history {
    background-color: rgba(1, 121, 14, 0.9);
}

.nav--contact {
    background-color: rgba(238, 8, 8, 0.94);
}

.nav--cv {
    background-color: #4a4a4a;
}

.nav--home span {
    color: #fff;
}

.nav--history span {
    color: #fff;
}

.nav--contact span {
    color: #fff;
}

.nav--cv span {
    color: #fff;
}

.fa-home {
    color: #fafafa;
}

.fa-graduation-cap {
    color: #fafafa;
}

.fa-comment-dots {
    color: #fafafa;
}

.fa-cloud-download-alt {
    color: #fafafa;
}

/*------------------------------------Special padding margin text etc...-----------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    /*color: #fafafa;*/
    text-align: center;
}

/*--------------------------------------- Hover.css ---------------*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------Heading-----*/

header {
    margin: 0;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row;
}

.column--30 {

    width: 30%;
    height: 400px;
    background-color: transparent;
}

.column--70 {
    position: relative;
    padding: 0;
    margin: 0;
    width: 70%;
    max-height: 400px;
    background-color: transparent;

}

.container {
    padding: 0;
    margin: 0;

}

.heading {
    width: 100%;
    height: 100%;
    margin-right: 25px;
}

.navbar-row {
    height: 100px;

    background-color: transparent;
    display: flex;
    justify-content: center;

}

a .navlinkitem {
    display: flex;
}

.navlink {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    border: none;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navlinkitem {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300i;
    justify-content: center;
}

#nav--link {
        display: flex;
    flex-direction: column;
}


.list-inline {
    padding: 0;
    width: 100%;

    display: flex;
    align-items: center;
}

.name {
    font-family: 'Exo', sans-serif;
    font-size: 46px;
    font-weight: 200i;
    margin-top: 50px;
    text-align: right;
    color: #fff;

}

.title {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
    color: #fff;

}

.logocontainer {}


.logo {
    background-image: url("../images/profileimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.mainbody {
    position: relative;
    top: 100px;
    left: 0px;
    padding: 0;
    margin: 0;

}


/*------------------------------------footer-----------*/

footer {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    min-height: 120px;
    background-color: #525252;
}

div.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    /*background-color: rgba(10, 10, 10, .5);*/
    display: flex;
    flex-flow: row;
}

.column--33 {
    position: relative;
    width: 33.33%;
    min-height: 120px;
    background-color: ;
}

h5 {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

}

/*----------- media queries--*/

@media only screen and (max-width: 1406px) {
    
}

@media only screen and (max-width: 768px) {

    div.row {
        margin: 0 0 100px 0;
        height: 200px;

    }
    div.navbar-row {
        transform: translatey(-100px);
    }
    .column--30 {
        width: 30%;
        height: 300px;
    }
    .column--70 {
        min-height: 300px;
    }
    div.logo {
        min-height: 300px;
    }
    .navlink {
        width: 100%;
    }
    .list-inline {
        padding: 0;
        margin: 0;
        height: 100px;
        flex-direction: column;
    }
    h1.name {
        font-size: 35px;
        flex-wrap: nowrap;
    }
    h2.title {
        font-size: 20px;
        flex-wrap: nowrap;
    }
    #nav--link {
        display: inline;
}
}

@media only screen and (max-width: 378px) {
    .column--30 {
        width: 30%;
        height: 200px;
    }
    div.column--70 {
        min-height: 200px;
    }
    div.container {
        max-height: 200px;

    }
    div.logo {
        min-height: 130px;
    }

    div.navbar-row {
        width: 146.88px;
        position: relative;
        top: -70px;
        left: -49.5%;
    }
    .list-inline {
        width: 112.55px;
        height: 70px;
    }
    li {
        flex-grow: 2;
    }
    .navlink {
        width: 113.55px;
    }
    .navlinkitem {
        font-size: smaller;
    }
    .heading {
        flex-wrap: nowrap;

    }
    h1.name {
        font-size: 25px;
        flex-wrap: nowrap;
    }
    h2.title {
        font-size: 16px;
        flex-wrap: nowrap;
    }


}
