@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Mukta:200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
/*------------------------------------------------------------Colors-----*/

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #8f8f8f;
}

/*------------------------------------------------------------Colors-----*/

.bg-color-name-title {
    background-color: rgba(255, 165, 0, 0.9);
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-personal-info {
    background-color: #5f5f5f;
}

.nav--home {
    background-color: rgba(255, 165, 0, 0.9);
}

.nav--history {
    background-color: rgba(1, 121, 14, 0.9);
}

.nav--contact {
    background-color: rgba(238, 8, 8, 0.94);
}

.nav--cv {
    background-color: #4a4a4a;
}

.nav--home span {
    color: #fff;
}

.nav--history span {
    color: #fff;
}

.nav--contact span {
    color: #fff;
}

.nav--cv span {
    color: #fff;
}

.fa-home {
    color: #fafafa;
}

.fa-graduation-cap {
    color: #fafafa;
}

.fa-comment-dots {
    color: #fafafa;
}

.fa-cloud-download-alt {
    color: #fafafa;
}

.fa-facebook {
    color: #fafafa;
}

.fa-twitter {
    color: #fafafa;
}

.fa-linkedin {
    color: #fafafa;
}

.fa-pinterest {
    color: #fafafa;
}

.fa-instagram {
    color: #fafafa;
}

.fa-youtube {
    color: #fafafa;
}


/*------------------------------------Special padding margin text etc...-----------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    display:flex;
    justify-content: center;
}

.general-sub {
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    text-align: center;
    font-size: 16px;
}

.section-heading {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
}

.flex-container {
    display: flex;
}

.column--33 {
    width: 33.33%;
}

.column--50 {
    width: 50%;
}

.min-height-120 {
    min-height: 120px;
}

/*--------------------------------------- Hover.css ---------------*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------Heading-----*/

header {
    margin: 0;
    padding: 0;
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row;
}

.column--30 {

    width: 30%;
    height: 400px;
    background-color: transparent;
}

.column--70 {
    position: relative;
    padding: 0;
    margin: 0;
    width: 70%;
    max-height: 400px;
}

.container {
    padding: 0;
    margin: 0;

}

.heading {
    width: 100%;
    height: 100%;
    margin-right: 25px;
}

.navbar-row {
    height: 100px;

    background-color: transparent;
    display: flex;
    justify-content: center;

}

a .navlinkitem {
    display: flex;
}

.navlink {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    border: none;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navlink2 {
    padding: 10px, 0, 0, 0;
    margin: 0;
    height: 50px;
    width: 50px;
    border: none;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navlinkitem {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300i;
    justify-content: center;
}

#nav--link {
    display: flex;
    flex-direction: column;
}


.list-inline {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.name {
    font-family: 'Exo', sans-serif;
    font-size: 46px;
    font-weight: 200i;
    margin-top: 50px;
    text-align: right;
    color: #fff;

}

.title {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
    color: #fff;

}

.logocontainer {}


.logo {
    background-image: url("../images/profileimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*------------------------------------mainbody-----------*/

.container-mainbody {
    padding-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-column {
    padding: 0;
    float: none;
    display: flex;
    flex-direction: column;

}

.row2 {
    padding: 0 10px 10px;
    display: flex;
}

.row-table {
    /*display: table;*/
}

div.row.row-table {
    margin: 5px;
    width: auto;
    height: auto;
}

.direction-column {
    display: flex;
    flex-direction: column;
}

.column--15 {
    position: relative;
    width: 15%;
}

.column--66 {
    position: relative;
    width: 66%;
}

.column--60 {
    position: relative;
    width: 60%;
}

.aboutme-row {
    display: flex;
}

.question {
    padding: 0;
    justify-content: center;
    display: flex;
}

/*------------------------------------Three Reasons-----------*/

.three-reasons-icon {
    position: relative;
    top: 7px;
    font-size: 15px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
    font-size: 20px;
    color: #e67e22;
}

.three-reasons-info {
    margin: 0;
    font-size: 15px;
}

.aboutme-column--70 {
    position: relative;
    width: 70%;
}

/*------------------------------------Personal Info-----------*/

.personal-column--30 {
    position: relative;
    width: 30%;
}

.personal-info-item {
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
}

.padding--30px {
    padding: 0 30px 30px;
}

.personal-info-heading {
    color: #fafafa;
}

.personal-info-item .key {
    padding-right: 25px;
    font-weight: 300;
    font-size: 20px;
    width: 30%;
    color: #e67e22;
}

.personal-info-item .value {
    width: 60%;
    font-size: 15px;
    overflow-wrap: break-word;
    overflow: overlay;
}
/*------------------------------------ProgressBar-----------*/
.progress{
    padding:-1px;
    margin:0;
    display: flex;
    flex-direction:column;
}
.row-progress{
    padding:0;
    width:100%;
    margin:2px;
    border: 1px solid #5f5f5f;
    height:28px;
}

.progress-type{
    margin-left:20px;
    height:100%;
    padding-bottom: 1px;
    padding-right: 2px;
    padding-left: 2px;
    border-radius:5px;
    font-family: "Mukta", sans-serif;
    font-weight:400i;
    color:#fafafa;
    background-color:rgba(0,0,0,0.2);
}
.html-progress{
    position: relative;
    padding:0;
    margin:0;
    background-color: rgba(0, 0, 255, 0.6);
    width:90%;
    height:100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 255, 0.6);
    
}
.css-progress{
    position: relative;
    padding:0;
    margin:0;
    background-color: rgba(255, 0, 0, 0.6);
    width:80%;
    height:100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 0px 5px 3px rgba(255, 0, 0, 0.6);
}
.javascript-progress{
    position: relative;
    padding:0;
    margin:0;
    background-color: rgba(0, 255, 0, 0.6);
    width:70%;
    height:100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 0px 5px 3px rgba(0, 255, 0, 0.6);
}
.python-django-progress{
    position: relative;
    padding:0;
    margin:0;
    background-color: rgba(180, 0, 255, 0.6);
    width:80%;
    height:100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 0px 5px 3px rgba(180, 0, 255, 0.6);
}
.sql-nosql-progress{
    position: relative;
    padding:0;
    margin:0;
    background-color: rgba(255, 82, 0, 0.6);
    width:80%;
    height:100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 0px 5px 3px rgba(255, 82, 0, 0.6);
}

/*------------------------------------footer-----------*/

footer {

    padding: 0;
    margin-top: 10px;

    width: 100%;
    min-height: 100px;
    background-color: #525252;
}

div.footer {
    margin: 0;
    padding: 20px;
    width: 100%;
    /*background-color: rgba(10, 10, 10, .5);*/
    display: flex;
    flex-flow: row;
}



.footer-fontawesome-sizing {
    font-size: 15px;
}

.footer-info {
    padding: 5px;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: 100;
    color: #fafafa;
    text-align: center;
    font-size: 10px;
}

footer .cv-pdf i {
    font-size: 13px;
}

footer .cv-pdf i:hover {
    color: #ed4610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

li.navlink2 a {
    text-decoration: none;
}

li.navlink2 a i {
    padding: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.navlink2 a i:hover {
    background-color: #ed4610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

ul.list-inline.social-links {
    width: 110px;
}

/*----------- media queries--*/

@media only screen and (max-width: 995px) {
    ul.list-inline.social-links {
        padding: 0;
        width: 60px;
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .personal-info-item .key p {
        font-size: 20px;
    }
    .personal-info-item .value p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {

    div.row {
        margin: 0 0 100px 0;
        height: 200px;

    }
    div.navbar-row {
        transform: translatey(-100px);
    }
    .column--30 {
        width: 30%;
        height: 300px;
    }
    .column--70 {
        min-height: 300px;
    }
    div.logo {
        min-height: 300px;
    }
    .navlink {
        width: 100%;
    }
    header .list-inline {
        padding: 0;
        margin: 0;
        height: 100px;
        flex-direction: column;
    }

    h1.name {
        font-size: 35px;
        flex-wrap: nowrap;
    }
    h2.title {
        font-size: 20px;
        flex-wrap: nowrap;
    }
    #nav--link {
        display: inline;
    }
    .container-mainbody {
        padding-top: 0;
    }
    .personal-info-heading {
        font-size: 15px;
    }
    .personal-info-item .key p {
        font-size: 15px;
    }
    .personal-info-item .value p {
        font-size: 10px;
    }
    .aboutme-row {
        display: inline;
    }
    .aboutme-heading {
        font-size: 15px;
    }
    .three-reasons-icon {
        font-size: 15px;
    }
    .three-reasons-heading {
        font-size: 15px;
    }
    .column--50 {
        width: 100%;
    }
    footer {
        margin-top: 10px;
    }
    .navlink2 {
        margin: 2px;
        height: 30px;
    }
    li.navlink2 a i {
        padding: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #8f8f8f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-fontawesome-sizing {
        font-size: 10px;
    }
    ul.list-inline.social-links {
        width: 60px;
        height: 75px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .personal-info-item {
        display: contents;
    }
    .personal-info-item .value {
        width: 100%;
    }
}

@media only screen and (max-width: 378px) {
    .column--30 {
        width: 30%;
        height: 200px;
    }
    div.column--70 {
        min-height: 200px;
    }
    div.container {
        max-height: 200px;

    }
    div.logo {
        min-height: 130px;
    }

    div.navbar-row {
        width: 146.88px;
        position: relative;
        top: -70px;
        left: -49.5%;
    }
    header {
        height: 200px;
    }
    header .list-inline {
        width: 112.55px;
        height: 70px;
    }
    .navlink {
        width: 113.55px;
    }
    .navlinkitem {
        font-size: smaller;
    }
    .heading {
        flex-wrap: nowrap;

    }
    h1.name {
        font-size: 25px;
        flex-wrap: nowrap;
    }
    h2.title {
        font-size: 16px;
        flex-wrap: nowrap;
    }
    .container-mainbody {
        padding-top: -100px;
    }

    .column--small-17 {
        width: 17%;
    }
    .column--small-83 {
        width: 83%;
    }
    footer {
        margin-top: 10px;
    }
    ul.list-inline.social-links {
        width: 30px;
        height: 46px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    li.navlink2 a i {
        padding: 0;
        height: 10px;
        width: 10px;
        border: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .general-sub {
        font-size: 10px;
    }
    .footer-info {
        font-size: 5px;
    }
}

@media only screen and (max-width: 370px) {
    div.navbar-row {
        width: 134.88px;
    }
}

@media only screen and (max-width: 330px) {
    div.navbar-row {
        width: 106.88px;
    }
    .personal-info-item .key p {
        font-size: 12px;
    }
    .personal-info-item .value p {
        font-size: 8px;
    }
}
